.App {
  /* text-align: center; */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.user-suggestions:hover{
  background-color : lightblue;
}

._selectedTags{
  background-color : #f0f0f0; 
  /* font-size : 1.2rem;  */
  padding : 4px 4px 4px 4px;
  border-radius : 5%;
  margin-right : 10px;
  margin-bottom : 5px;
}

.form-rounded{
  border-radius : 0.2rem; 
  padding : 2px 2px 2px 2px; 
  margin : 5px 5px 5px 5px;
}

.well{
  position: relative;
  padding: 1rem;
  border: .2rem solid #ececec;
  border-top-color: rgb(236, 236, 236);
  border-top-style: solid;
  border-top-width: 0.2rem;
  border-right-color: rgb(236, 236, 236);
  border-right-style: solid;
  border-right-width: 0.2rem;
  border-bottom-color: rgb(236, 236, 236);
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-left-color: rgb(236, 236, 236);
  border-left-style: solid;
  border-left-width: 0.2rem;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 8px;
  margin-top : 10px;
  margin-bottom : 10px;
  margin-right: 0;
  margin-left: 0;
  color: #212529;
}

.table{
  
}

.accepted-problem{
  background-color : #d4edc9 !important;
}
.rejected-problem{
  background-color : #ffe3e3 !important; 
}
